<div class="row">
<div class="col-md-12">
  <h3><%= link_to book.name, book %></h3>
  <p class="text-muted"><em>Written by <%= link_to book.author.name, books_path(author_filter: book.author.name) %></em></p>
  <div>
    <p>
    <%= book.description %>
    </p>
  </div>
  <span>
    <%= link_to book.genre.name, books_path(genre_filter: book.genre.name), class: 'label label-primary' if book.genre %>
  </span>
</div>
</div>
